### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
players=[len(purchase_data["SN"].unique())]
playerTable=pd.DataFrame(players)
playerTable

     0
0  576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
purchasing_list=[]
totalItems=len(purchase_data["Item ID"].unique())
price=purchase_data["Price"].mean()
numberPurchases=purchase_data["Purchase ID"].count()
totalRevenue=purchase_data["Price"].sum()
purchasing_list={'Number of Unique Items': totalItems, 'Average Price': price, 'Number of purchases': numberPurchases, 'Total revenue':totalRevenue}
purchaseTable=pd.DataFrame(purchasing_list, index=[0])
purchaseTable['Average Price'] = purchaseTable['Average Price'].map('${:,.2f}'.format)
purchaseTable['Total revenue'] = purchaseTable['Total revenue'].map('${:,.2f}'.format)
purchaseTable

   Number of Unique Items Average Price  Number of purchases Total revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender_groups = purchase_data.groupby('Gender')
genders = gender_groups['SN'].nunique()
percentages=genders/genders.sum()
demographics={'Total count': genders, 'Percentages of players':percentages}
demoTable=pd.DataFrame(demographics)
demoTable['Percentages of players'] = pd.Series(["{0:.2f}%".format(val * 100) for val in demoTable['Percentages of players']], index = demoTable.index)
demoTable.head()

                       Total count Percentages of players
Gender
Female                          81                 14.06%
Male                           484                 84.03%
Other / Non-Disclosed           11                  1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
gender_purchase = purchase_data.groupby('Gender')
genderGroup = gender_purchase['Purchase ID'].count()
price=gender_purchase['Price'].mean()
total=gender_purchase['Price'].sum()
totalPurchase=total/gender_purchase['Price'].count()
purchase_dic={'Purchase count': genderGroup,'Av Price': price, 'Total Purchases value':total, 'Av total count per person': totalPurchase}
totalsFrame=pd.DataFrame(purchase_dic)
totalsFrame['Av Price'] = totalsFrame['Av Price'].map('${:,.2f}'.format)
totalsFrame['Total Purchases value'] = totalsFrame['Total Purchases value'].map('${:,.2f}'.format)
totalsFrame

,Purchase count,Av Price,Total Purchases value,Av total count per person
Gender,,,,
Female,113,$3.20,$361.94,3.203009
Male,652,$3.02,"$1,967.64",3.017853
Other / Non-Disclosed,15,$3.35,$50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [130]:
bins = [0,9, 14, 19,24,29,34,39,100]
purchase_data["Total bins"]= pd.cut(purchase_data["Age"], bins, labels=['>10','10-14','15-19','20-24','25-29','30-34','35-39','40+'])
grouped_age=purchase_data.groupby('Total bins')['SN'].nunique()
percentages=grouped_age/grouped_age.sum()
age_data={'Total count': grouped, 'Percentages': percentages}
ageTable=pd.DataFrame(age_data)
ageTable['Percentages'] = pd.Series(["{0:.2f}%".format(val * 100) for val in ageTable['Percentages']], index = ageTable.index)
ageTable

            Total count Percentages
Total bins
>10                  17       2.95%
10-14                22       3.82%
15-19               107      18.58%
20-24               258      44.79%
25-29                77      13.37%
30-34                52       9.03%
35-39                31       5.38%
40+                  12       2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame